div {
  text-align: center;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
img {
  margin: 0 10px 10px;
}
.resumeImg {
  height: auto;
  width: 100%;
  max-width: 800px;
}
.socmonImg {
  height: auto;
  width: 100%;
  max-width: 1500px;
}
.resumeDisplay {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 10px;
  height: auto;
  width: auto;
}
#navbarButton {
  padding: 0 30px;
}
.primaryButton {
  margin: 10px 0 0 0;
}
.Card-List {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
.Card {
  display: flex;
  padding: 16px;
  margin: 0 10px;
  height: auto;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-sizing: border-box;
}
.Card-Content {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}
.Card-Title {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  box-sizing: border-box;
}
.Card-Link {
  font-weight: 600;
  min-width: 0;
  flex: auto;
  box-sizing: border-box;
  cursor: pointer;
}
.Card-Body {
  flex: 1 0 auto;
  display: block;
  font-size: 12px;
  margin-bottom: 16px;
  margin-top: 8px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.Card-Languages {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
  box-sizing: border-box;
}
.Card-Languages-Content {
  display: inline-block;
  margin-right: 16px;
  box-sizing: border-box;
  font-size: 12px;
}
