div {
  text-align: center;
}
img {
  margin: 0 10px 10px;
}
.resumeDisplay {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 10px;
  height: auto;
  width: auto;
}
#navbarButton {
  padding: 0 30px;
}

.primaryButton {
  margin: 10px 0 0 0;
}
